<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
        <add key="filter" value="(objectClass=top)"/>
    <add key="pageSize" value="10"/>
    <add key="ldapServerBws" value=""/>
    <add key="usernameBws" value=""/>
    <add key="passwordBws" value=""/>
    <add key="BWSEmployeeProperties" value="DisplayName;Description;Department;Office;OfficePhone;EmailAddress;Photo"></add>
    <add key="BWSEmployeeXMLPath" value=""/>
    <add key="ldapServerCity" value=""/>
    <add key="usernameCity" value=""/>
    <add key="passwordCity" value=""/>
    <add key="CityEmployeeProperties" value=""/>
    <add key="CityEmployeeXMLPath" value=""/>
    <add key="ldapServerTest" value="ldap.forumsys.com/dc=example,dc=com"/>
    <add key="usernameTest" value="uid=tesla,dc=example,dc=com"/>
    <add key="passwordTest" value="password"/>
    <add key="TestProperties" value="uid;adspath;cn;mail;sn;objectclass"/>
    <add key="TestXMLPath" value="C:\Users\Administrator\Documents\MockData.xml"/>
  </appSettings>
</configuration>
