<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="filter" value="(objectClass=person)"/>
    <add key="pageSize" value="10"/>
    <add key="BWSEmployeeProperties" value="DisplayName;Description;Department;Office;OfficePhone;EmailAddress;Photo"></add>
    <add key="BWSEmployeeXMLPath" value=""/>
    <add key="CityEmployeeProperties" value=""/>
    <add key="CityEmployeeXMLPath" value=""/>
    <add key="TestProperties" value="uid;adspath;cn;mail;sn"/>
    <add key="TestXMLPath" value="C:\Users\Administrator\Documents\MockData.xml"/>
  </appSettings>
</configuration>
